h1{color: aquamarine;}

.header{
    background-color: antiquewhite;

    display: flex;

    justify-content: center;
}

.site-description{
    background-color: #faebd7;

    display: flex;
    
    flex-wrap: wrap;

    justify-content: center;
}

.grid{
    background-color: #faebd7;

    display: flex;

    flex-wrap: wrap;

    flex-direction: column;
}

.footer{
    background-color: #faebd7;

    display: flex;
    
    flex-wrap: wrap;

    justify-content: center;
}